* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #88c4ea;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

main {
    background-color: #F5F5F5;
    height: 460px;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.die-face {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 8px;
    display: grid;
    grid-template-columns: 10px 10px 10px;
    grid-template-rows: 10px 10px 10px;
    grid-gap:4px 2px;
}

.pip {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 5px
}

.pips-1 .pip-1,
.pips-3 .pip-2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.pips-3 .pip-3,
.pips-2 .pip-2 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.pips-4 .pip-2 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.pips-4 .pip-3 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.pips-4 .pip-4 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.pips-5 .pip-1,
.pips-5 .pip-4 {
    grid-column-start: 1;
    grid-column-end: span 2;
}
.pips-5 .pip-3 {
    grid-column-start: 2;
    grid-column-end: span 2;
}

.pips-6 .pip-2 {
    grid-column-start: 3;
    grid-row-start: 1;
}
.pips-6 .pip-3 {
    grid-column-start: 1;
    grid-row-start: 2;
}
.pips-6 .pip-4 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.pips-6 .pip-5 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.pips-6 .pip-6 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.die-num {
    font-size: 2rem;
}

.roll-dice,
.start-game {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice:focus,
start-game:focus {
    outline: none;
}

.roll-dice:active,
.start-game:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.stats-container {
    font-weight: 700;
    font-size: 1.25rem;
    border: 1px solid #0B2434;
    padding: 6px 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    align-items: center
}

.stats-container > div {
    flex: 1 0 100px;
}

.stats-container > .label {
    font-size: 12px;
    flex: 1 0 50px;
}

.rolls-counter {
    margin-right: auto;
}

footer {
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0;
}

.dragon-face {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    overflow: visible;
    margin: 60px auto 20px;
}

.left-eye {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 40px;
}

.right-eye {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 80px;
}

.pupil {
    position: absolute;
    background-color: black;
    height:10px;
    width:10px;
    border-radius:50%;
    top: 10px;
    left: 10px;
}

.nostrils {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 80px;
  left: 50px;
  box-shadow: 30px 0px 0px black;
}

.mouth {
  width: 80px;
  height: 30px;
  border-radius: 0 0 50% 50%;
  background-color: black;
  position: absolute;
  top: 130px;
  left: 35px;
}

.left-horn {
  width: 20px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -30px;
  left: 40px;
  transform: rotate(-45deg);
}

.right-horn {
  width: 20px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -30px;
  left: 90px;
  transform: rotate(45deg);
}


